extends layout

append style
  link(rel = 'stylesheet', href = '/stylesheets/detail.css')
  link(rel = 'stylesheet', href = '/stylesheets/loader.css')
block content
  include loader.html
  header
    figure
      .display
        img(src= movie.poster, alt= movie.title)
      .info
        div
          if (movie.year == year && movie.isSeries)
            p New. Sesson
          if (movie.year == year && movie.isPart)
            p New. Movie Part
          if (movie.year == year && !movie.isSeries && !movie.isPart)
            p New. Movie
          h1= movie.title
        div
          each x in [movie.year, movie.genre, movie.studio]
            div
              p= x
  section.rating
    each rate in rates
      div
        p= rate.rate
        p= rate.title
  article
    h2 Plot
    p= movie.detail
    section.cast
      h2 Cast
      div.container
        div.wrap
          if (casts != null)
            each cast in casts
              div
                img(src= cast.profile, alt="cast")
    if(movie.isSeries)
      mixin SelectBox(name, options)
        .select-box
          .select-box__current(tabindex="1")
            each option, index in options
              .select-box__value
                input.select-box__input(type="radio" id=index value=option.value name=name checked=option.checked)
                p.select-box__input-text #{option.name}
            img.select-box__icon(src="http://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
          ul.select-box__list
            each option, index in options
              li
                label.select-box__option(for=index aria-hidden) #{option.name}
              
      +SelectBox('seasons', data.seasons)
      

      h2 EPISODES
      
      section.container
        each x, index in data.episodes
          each y, i in x
            section.card(data-title= movie.title data-s= index data-e= i)
              figure
                img(src= y.poster)
              article
                p
                  small episode #{i+1}
                h3= y.title
                p= y.detail
    if(!movie.isSeries)
      if(movie.source)
        button.btn-primary.border(data = movie.title) Watch now

block script
  script(src = "/script/detail.js")
  script(src = "/script/loader.js")
