extends layout
append style
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/loader.css')
block content
    include loader.html
    nav 
        section.profile
            .profile 
                img(src= profile.profile, alt="profile")
            h1.message 
                | Welcome back 
                br 
                span= profile.Name
        .menu 
            img(src="/images/Group 10.png", alt="Group 10")
    
    main 
        section.release
            h2 New release
            section.movie-box
                div.movie.watch(data= movie.title)
                    img(src= movie.poster, alt= movie.title)
                    div.detail
                        .info 
                            h1= movie.title
                            p= movie.studio
                        .rate 
                            img(src="/images/Group 12.svg", alt="full rate")
                            p From 342 users

        section.watching 
          h2 Continue Watching.
          if(watchs)
            section
              .container
                each watch in watchs 
                  .watching
                    figure 
                      img(src= watch.shot, alt=watch.shot)
                      .progress(data-total= watch.total)
                        .bar(data-left= watch.left) 
                    article 
                      h4= watch.title
                      if(watch.isSeries)
                        p= watch.subtitle

        section.picks 
            menu 
                ul
                    li.active For you
                    li Popular
                    li Popular
                    li Popular
            section 
                .container 
                  each movie in movies
                    .item.watch(data= movie.title) 
                        figure 
                            img(src= movie.poster, alt= movie.title)
                        h4= movie.title
                            br 
                            span= movie.year



block script
  script(src="/script/home.js")
  script(src="/script/loader.js")
